[hidden], area, base,
basefont, command, datalist,
head, input[type=hidden],
link, menu[type=context],
meta, noembed, noframes,
param, rp, script, source,
style, track, title { display: none; }

html, address,
blockquote,
body, dd, div,
dl, dt, fieldset, form,
frame, frameset,
h1, h2, h3, h4,
h5, h6, noframes,
ol, p, ul, center,
dir, hr, menu, pre   { display: block; unicode-bidi: embed }
li              { display: list-item }
table           { display: table }
tr              { display: table-row }
thead           { display: table-header-group }
tbody           { display: table-row-group }
tfoot           { display: table-footer-group }
col             { display: table-column }
colgroup        { display: table-column-group }
td, th          { display: table-cell }
caption         { display: table-caption }
th              { font-weight: bolder; text-align: center }
caption         { text-align: center }
body            { margin: 8px }
h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h4, p,
blockquote, ul,
fieldset, form,
ol, dl, dir,
menu            { margin: 1.12em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6, b,
strong          { font-weight: bolder }
blockquote      { margin-left: 40px; margin-right: 40px }
i, cite, em,
var, address    { font-style: italic }
pre, tt, code,
kbd, samp       { font-family: monospace }
pre             { white-space: pre }
button, textarea,
input, select   { display: inline-block }
big             { font-size: 1.17em }
small, sub, sup { font-size: .83em }
sub             { vertical-align: sub }
sup             { vertical-align: super }
table           { border-spacing: 2px; }
thead, tbody,
tfoot           { vertical-align: middle }
td, th, tr      { vertical-align: inherit }
s, strike, del  { text-decoration: line-through }
hr              { border: 1px inset }
dir, menu, dd   { margin-left: 40px }
ol              { list-style-type: decimal }
ol ul, ul ol,
ul ul, ol ol    { margin-top: 0; margin-bottom: 0 }
u, ins          { text-decoration: underline }
br:before       { content: "\A"; white-space: pre-line }
center          { text-align: center }
:link           { color: blue; }
:visited        { color: purple; }
:link, :visited { text-decoration: underline }
:focus          { outline: thin dotted invert }

/* Begin bidirectionality settings (do not change) */
BDO[DIR="ltr"]  { direction: ltr; unicode-bidi: bidi-override }
BDO[DIR="rtl"]  { direction: rtl; unicode-bidi: bidi-override }

*[DIR="ltr"]    { direction: ltr; unicode-bidi: embed }
*[DIR="rtl"]    { direction: rtl; unicode-bidi: embed }

/* HTML 5 */
nobr		{ white-space: nowrap; }
wbr:before	{ content: "\200B" }
nobr wbr	{ white-space: normal; }

/* CSS 3 Lists */
ol, ul {
	counter-reset: list-item;
	padding-left: 40px;
}
li::marker {
	display: inline-block;
	margin-right: 1em;
	text-align: end;
	/* 'position' implied by list-style-position */
}

/* XBL 2.0 */
binding, implementation, template, content, inherited { display: none; }

/* Bindings */
button { binding: button; }
details { binding: details; }
input {
    binding: url(escort.html#input-textfield);
    display: inline-block;
    white-space: pre;
    background-color: white;
    border: 2px silver inset;
    text-align: left;
    padding: 1px;
    min-height: 1em;
}
input[type=password] { binding: input-password; } /* case-insensitive */
input[type=datetime] { binding: input-datetime; } /* case-insensitive */
input[type=date] { binding: input-date; } /* case-insensitive */
input[type=month] { binding: input-month; } /* case-insensitive */
input[type=week] { binding: input-week; } /* case-insensitive */
input[type=time] { binding: input-time; } /* case-insensitive */
input[type=datetime-local] { binding: input-datetime-local; } /* case-insensitive */
input[type=number] { binding: input-number; } /* case-insensitive */
input[type=range] { binding: input-range; } /* case-insensitive */
input[type=color] { binding: input-color; } /* case-insensitive */
input[type=checkbox] { binding: input-checkbox; } /* case-insensitive */
input[type=radio] {
    binding: url(escort.html#input-radio);
    display: inline-block;
    border-style: none;
    padding: 2px;
}
input[type=file] { binding: input-file; } /* case-insensitive */
input[type=submit], input[type=reset], input[type=button] { /* case-insensitive */
    binding: url(escort.html#input-button);
    display: inline-block;
    background-color: silver;
    border: 2px silver outset;
    padding: 1px 0.5em;
    height: 1em;
}
marquee { binding: marquee; }
meter { binding: meter; }
progress { binding: progress; }
select { binding: select; }
textarea { binding: textarea; white-space: pre-wrap; }
keygen { binding: keygen; }
time[datetime] { binding: time; }

@media print {
  h1            { page-break-before: always }
  h1, h2, h3,
  h4, h5, h6    { page-break-after: avoid }
  ul, ol, dl    { page-break-before: avoid }
}

/* misc. */
iframe { overflow: auto; }
