[Desktop Entry]
Encoding=UTF-8
Name=Escort
GenericName=Web Browser
GenericName[ja]=ウェブブラウザ
Exec=escort
Icon=escort
Terminal=false
Type=Application
Categories=Network;WebBrowser;
StartupWMClass=Escort
