Source: escudo
Section: web
Priority: extra
Maintainer: Esrille Inc. (0.2) <info@esrille.org>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, automake,
	bison, flex, re2c, esidl,
	libicu-dev, libglew-dev, libfreetype6-dev, freeglut3-dev, libxmu-dev,
	libgif-dev, libpng-dev, libjpeg-dev, libssl-dev,
	libboost-dev, libboost-iostreams-dev, libboost-system-dev, libboost-regex-dev,
	libmozjs185-dev, libv8-dev,
	fonts-liberation, ttf-dejavu-core,
	fonts-takao-mincho, fonts-takao-gothic, ttf-ancient-fonts
Standards-Version: 3.9.2
Homepage: http://code.google.com/p/es-operating-system/
Vcs-Browser: https://github.com/esrille/escudo
Vcs-Git: git://github.com/esrille/escudo.git

Package: escudo
Architecture: any
Depends: ${shlibs:Depends},${misc:Depends},
	fonts-liberation, ttf-dejavu-core,
	fonts-takao-mincho, fonts-takao-gothic, ttf-ancient-fonts
Description: Escudo Web Browser
 Escudo is a new web browser currently being developed as one of the
 ES operating system projects. Escudo has a totally new CSS/HTML
 rendering engine, and Escudo can be configured with SpiderMonkey or
 V8 JavaScript engine at this point.
